.root {
  /* Background pattern from subtlepatterns.com */
  -fx-background-image: url("dark_fish_skin.png");
  -fx-background-repeat: repeat;
}

.vbox {
  -fx-spacing: 10px;
}

.button {
  -fx-alignment: center;
}

.toggle-button {
  -fx-opacity: 0.5;
}

.toggle-button:selected {
  -fx-opacity: 1.0;
  -fx-background-color: #fffe90;
}
