.root {
  /* Background pattern from subtlepatterns.com */
  /*-fx-background-image: url("dark_fish_skin.png");*/
  -fx-background-repeat: repeat;
  -fx-alignment: center;
}

.vbox {
  -fx-spacing: 10px;
  -fx-alignment: center;
}

#submitButton {
  -fx-background-insets: 10px 0 0 0;
  -fx-border-insets: 10px 0 0 0;
  -fx-padding: 20px 10px 10px 10px;
}

.button {
  -fx-alignment: center;
  -fx-pref-width: 200px;
}

.toggle-button {
  -fx-pref-width: 200px;
}

.toggle-button:selected {
  -fx-opacity: 1.0;
  -fx-background-color: #fffe90;
}

#progressLabelPane {
  -fx-alignment: center;
}

#progressBarPane {
  -fx-alignment: center;
}
